<style type="text/css">
  body{
   
  }
  .orange{
    background-color: #F9914B;
  }

  .paddingleft{
    padding-left: 60px;
  }

  .center{
    color: white;
    font-size: 26px;
    padding-top: 4%;
  }
  .textWhite{
    color: white;
  }
  .sec2PaddingBottom{
    padding-bottom: 60px;
  }
  #sec1,#sec3,#sec5,#sec7{
    background-color: #B6B6B6;
  }
  #sec2,#sec4,#sec6{
    background-color: #7FA0B3;
  }
  #sec2{
    padding-bottom: 10%;
  }
  #sec3{
    padding-bottom: 5%;
  }
  #navBar{
    box-shadow: 0 0 15px rgba(0,0,0,0.8);
  }
  .fontParagraph{
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .topPad{
    padding-top: 10%;
  }
  .logopad{
    padding-top: 3%;
  }
  p{
    font-family: 'Poiret One', cursive;
  }
  .Warroom{
    font-family: 'Didact Gothic', sans-serif;
  }
  .Demo{
    font-family: 'Josefin Sans', sans-serif;
  }
  #btnLogin:hover{
    background-color:rgba(0,0,0,.2);
    background-position:0 -15px;
  }
  .botPad{
    padding-bottom: 3%;
  }
  .P16{
    font-size: small;
    color: white;
  }
  .art{
    padding-top: 4%;
    font-size: 20px;
  }
  </style>