::selection{
	background-color: #397A92;
}
.whyChoose{
	padding-top: 4%;
}
.orange{
background-color: #F9914B;
}
.txtWhite{
	color:white;
}
.paddingleft{
padding-left: 60px;
}
.center{
color: white;
font-size: 26px;
padding-top: 4%;
}
.sec2PaddingBottom{
padding-bottom: 48px;
}
#sec1,#sec3,#sec5{
background-color: #C3C3C3;
color:#342C25;
}
#sec2,#sec4,#sec6{
background-color: #342C25;
color:white;
}
#sec2{
padding-bottom: 3.21%;
}
#sec3{
padding-bottom: 3.2%;
}
#navBar{
box-shadow: 0 0 15px rgba(0,0,0,0.8);
}
.topPad{
padding-top: 10%;
}
.logopad{
padding-top: 3%;
}
.name{
	font-family:'Roboto-Bold-400';
}
p{
	font-family: 'Roboto-Thin-100';
	font-size: 18px;
}
h1,h2,h3{
	font-family: 'Raleway-SemiBold-600';
}
.btnFont{
	font-family: 'RobotoCondensed-Bold-700';
}
#btnLogin:hover{
background-color:rgba(0,0,0,.2);
background-position:0 -15px;
}
.botPad{
padding-bottom: 3%;
}
.art{
padding-top: 4%;
font-size: 20px;
}
.margin{
margin-top: -9px;
}
.btn-Get-Free:hover{
background-color:rgba(0,0,0,.05);
background-position:0 -15px;
}
.btn-Get-Free{
background-color:rgba(0,0,0,.3);
color: white;
font-size: 20px;
display:inline-block;padding:6px 12px;
margin-bottom:0;
font-weight:400;
line-height:1.42857143;
text-align:center;
white-space:nowrap;
vertical-align:middle;
cursor:pointer;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
background-image:none;
border:1px solid transparent;
border-radius:4px;
-webkit-transition: all 0.3s ease-in-out;
}
.paddingGetfree{
padding-bottom: 2%;
}
.partnerpadding{
padding-top: 48px;
}
.padlogo2{
margin-top: -27px;
padding-left: 12%;
}
.contact{
padding-top: 3%;
padding-left: 0px;
}
.footpad{
padding-bottom: 48px;
}
.footmargin{
	margin-top: 6%;
}
.footlogo{
	margin-left: 11%;
	margin-top: 6%;
}
a{
	color:#1E16F9;
}
#sec1 > div > div.jumbotron.text-center{
	padding-top: 90px;
}
#sec1 > div > div.jumbotron.text-center > div > p{
	padding-bottom: 10px;
}
#sec1 > div > div.jumbotron.text-center > p{
	padding-bottom: 10px;
}
#body > div > div.orange > div > div.col-md-7 > p{
	padding-top: 30px;
	padding-bottom: 30px;
}
#sec5 > div > div:nth-child(4) > h2{
	padding-bottom: 20px
}
#sec6 > div:nth-child(3) > img{
	padding-bottom: 38px;
	padding-top: 38px;
}
#sec6 > div.container.text-center > div:nth-child(1n+0) > h4{
	padding-top: 20px;
}
#sec6 > div.container.featurette > div.col-md-10 > p{
	padding-bottom: 48px
}
#sec3 > div.container > div > h2{
	padding-top:18px;
}
#sec3 > div.container > div > p{
	padding-bottom: 20px;
}
#sec6 > div.orange.paddingGetfree{
	padding-bottom: 36px;
}
#sec4 > div > div:nth-child(2) > p:nth-child(6){
	margin-bottom: 30px;
}
#sec6 > div.container.text-center > h3{
	margin-top: 48px;
	margin-bottom: 0px;
}
#sec2 > div > div.jumbotron.text-center > h2{
	margin-top: 0px;
}
#sec4 > div > div.jumbotron.text-center > h2{
	margin-top: 0px;
}
#sec5 > div{
	padding-top: 0px;
}
#sec5 > div > div:nth-child(5) > div.col-md-7.logopad > div{
	padding-bottom: 33px;
}
#sec6 > div.orange.paddingGetfree > div > div.col-md-7.margin > p{
	padding-top: 20px
}
#sec5 > div > div:nth-child(5) > div.col-md-2.logopad{
	margin-top: 4.5%;
}
#sec5 > div > div:nth-child(5) > div.col-md-10.logopad > div > p{
	margin-bottom: 0px;
}