#patient>tbody>tr
{
	cursor: pointer;
}
.form
{
	border-radius: 2px;
	border: solid 1px #CCCCCC;
	padding: 10px;
}
.btn-default,.btn-primary,.btn-success,.btn-info,.btn-warning,.btn-danger,.btn-link
{
	background-image:none;
}
textarea.form-control 
{
	height: 100px;
  	resize: none;
}
#tab-note .modal-body
{
	height: 300px;
	overflow-y: auto; /*auto show scrollbar*/
}
.left
{
	float:left;
}